<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.cccb.parallel"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/logo_cccb"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
         >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RoutesListActivity"
            android:label="@string/title_activity_routes_list" >
        </activity>
        <activity
            android:name=".CustomRouteActivity"
            android:label="@string/title_activity_custom_route" >
        </activity>
        <activity
            android:name=".MapRouteActivity"
            android:label="@string/title_activity_map_route" >
        </activity>
        <activity
            android:name=".POIDetailActivity"
            android:label="@string/title_activity_poidetail" >
        </activity>
    </application>

</manifest>